@font-face {
    font-family: "Jura";
    src: url("../fonts/Jura/Jura-Regular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Jura";
    src: url("../fonts/Jura/Jura-Bold.woff2") format("woff2");
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: "Jura";
    font-weight: normal;
}